@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'Android';
    src: url('../fontes/idroid.otf') format('opentype');
    font-weight: normal;
}

* {
    margin: 0px;
    padding: 0px;
}

:root {
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;

    --fonte-padrao: Arial, verdana, helvatica, sans-serif;
    --fonte-padrao: "Bebas Neue", sans-serif;
    --fonte-android: "Android", sans-serif;

}

a.externo::after {
    /*para abrir link externo*/
    content: '\00A0\1F517';
}



body {
    background-color: var(--cor0);
    font-family: var(--fonte-padrao);
}




header {
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
    min-height: 150px;
    /* alturaa*/
    text-align: center;
    padding: 40px;
    /*Essa configuração é para o cabeçalho*/
}

header>h1 {
    color: white;
    margin-bottom: 20px;
    font-size: 3em;
    font-family: var(--fonte-destaque);
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.785);
    font-weight: normal;
    /*estilo da fonte*/


}

header>p {
    font-family: var(--fonte-padrao);
    font-size: 1.3em;
    /*para aumentar a letra*/
    color: white;
    max-width: 600px;
    /* Para quebrar a linha das palavras e ai tem que por tbm margin para centralizar*/
    margin: auto;
    padding-left: 10px;
    /*Esse padding e para reajustar quando diminuir a tela */
    padding-right: 10px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.785);
    margin-bottom: 20px;
    /*ecpaço um do outro*/
}



nav {
    background-color: var(--cor5);
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.719);
}

nav>a {
    color: var(--cor1);
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    /*fonte vai ficar em negrito */
    transition-duration: .5s;
    /*duração quando aparecer o mouse em cima das palavras*/


}

nav>a:hover {
    background-color: var(--cor2);
    /*mud de cor quando passar em cima das palavras */
    color: var(--cor5);

}

main {
    min-width: 300px;
    max-width: 1000px;
    background-color: white;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.612);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    /* padding para afastar da margem dar mais espeço */
    /* margin bottom ela separa rodape */
    /*box shadow é sombreamento e width é alargura*/
    /* A propriedade margin do CSS define a área de margem nos quatro lados do elemento*/
    /* O CSS display é uma propriedade utilizada para organizar os elementos na página HTML */
    /*  border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px; vai rendondar as borda do site so que sop as inferiores  */

}

main h1 {
    color: var(--cor5) #1a5c37;
    font-family: var(--fonte-android);
    font-weight: normal;
    font-size: 1.8em;
    /*Tamanho da fonte do titulo*/
}

main h2 {
    font-family: var(--fonte-android);
    color: var(--cor4);
    font-size: 1.3em;
    /*tamango da fonte */
    background-image: linear-gradient(to right, var(--cor1), transparent);
    /*Degrade nas palavras */
    text-indent: 8px;
    /* da um pouco mais de cor da barra não inicia em cima d palavra a barra geralmete fica rente */
}

main p {
    /*não pode por main > dentro do p pq pode estar em outras tgs o p*/
    margin: 15px 0px;
    /*separa as palavras quando for numeros igual não tem nessecidade de colar os quatros numeros.*/
    text-align: justify;
    text-indent: 30px;
    /*Ele da um espaço nos paragrafos */
    line-height: 2em;
    /*espçador das linhas escritas*/
    font-size: 1em;
    /*Aumenta a fonte*/

}


main a {
    text-decoration: none;
    /*Tira aquela linha de baixo do texto*/
    font-weight: bold;
    /*espessura da fonte*/
    color: var(--cor5);
    background-color: var(--cor1);
    padding: 2px 6px;
}

main a:hover {
    text-decoration: underline;
    /*aparece a linha quando passa em cima da palavra*/
    color: var(--cor4);

}

/* main img {
    width: 100%;
minha imagem ficou certa sem essa config
} */

main img.pequena {
    max-width: 350%;
    display: block;
    margin: auto;

}

div.video {
    background-color: var(--cor5);

    margin: 0px -20px 30px -20px;
    /*Espaçamento um do outro as margem*/
    padding: 20px;
    padding-bottom: 59%;
    /*altera a propria barra preta do video estilos as de filme que fica no canto*/
    /*tbm é um espaçamento */
    position: relative;
}

div.video>iframe {
    position: absolute;
    top: 5%;
    /*distancia para o topo e elemento*/
    left: 5%;
    /*distancia da esquerda e o elemento */
    width: 90%;
    height: 90%;


}

main strong {
    color: var(--cor4);
    /*Aqui vai deixar marcado em cores so o que tiver em negrito e espacado */
    font-weight: bold;

}

aside {
    background-color: var(--cor1);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.605);
    /*Sombreamento*/

}

aside>h3 {
    background-color: var(--cor4);
    color: white;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    /*Faz a borda da tabela crescr ela preenche os espaço em cima direita na esquerda td negativo em bx ñ tem margem */
    border-radius: 10px 10px 0px 0px;
    /*A redondou a borda*/


}

aside>ul {
    list-style-type: '\2714\00A0\00A0';
    /*codigo de emojis e um espacamento que é os 000 pegou no emojipedia*/
    list-style-position: inside;
    /*as bolinhas fica para dentro da borda*/
    columns: 2;
    /*divida a coluna em dois*/
}

footer {
    background-color: var(--cor5);
    color: white;
    text-align: center;
    font-size: 0.9em;
    padding: 5px;
}

footer a {
    color: white;
    font-weight: bolder;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
    color: var(--cor1);
}